<footer>
	<div class="mw8 center pb5">
		<div class="tc pt5 logos">
			<a href="https://cdh.princeton.edu/"><img src="/athens2023/img/cdh_logo.svg" alt="Logo for the Center for Digital Humanities at Princeton" width="100"></a>
			<a href="https://hellenic.princeton.edu/"><img src="/athens2023/img/logo_seeger.svg" alt="Logo for the Seeger Center for Hellenic Studies" width="160" style="padding: 0 0 10px 0;"></a>
			<a href="https://www.dariah.eu/"><img src="/athens2023/img/logo_dariah.png" alt="Logo for the Digital Research Infrastructure for the Arts and Humanities (DARIAH-EU)" width="140"></a>
			<a href="https://www.aueb.gr/"><img src="/athens2023/img/logo_aueb.png" alt="Logo for the Athens University of Economics and Business" width="175"></a>
			<a href="https://dept.aueb.gr/en/unesco"><img src="/athens2023/img/UNESCOchair.jpg" alt="Logo for UNESCO Chair on Digital Methods for the Humanities and Social Sciences" width="160"></a>
		</div>
		<div id="bottom" class="tc headlinks pv4">
			<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="/athens2023/img/ccheart.svg" alt="Logo for a Creative Commons license." width="22"> BY-NC-SA {{ now.Year }}</a>
		</div>
	</div>
</footer>
