<footer>
	<div class="mw8 center pb5">
		<div class="tc pt5 logos">
			<a href="https://cdh.princeton.edu/"><img src="/athens-institute/img/cdh_logo.svg" alt="Logo for the Center for Digital Humanities at Princeton" width="125"></a>
			<a href="https://hellenic.princeton.edu/"><img src="/athens-institute/img/logo_seeger.svg" alt="Logo for the Seeger Center for Hellenic Studies" width="200" style="padding: 0 0 10px 0;"></a>
			<a href="https://www.aueb.gr/"><img src="/athens-institute/img/logo_aeub.png" alt="Logo for the Athens University of Economics and Business" width="200"></a>
		</div>
		<div id="bottom" class="tc headlinks pv4">
			<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="/athens-institute/img/ccheart.svg" alt="Logo for a Creative Commons license." width="22"> BY-NC-SA {{ now.Year }}</a>
		</div>
	</div>
</footer>
